<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Report_Mail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Report_Mail.Properties.Settings.S11" connectionString="Dsn=dbuser" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Report_Mail.Properties.Settings>
            <setting name="mail_add" serializeAs="String">
                <value>Message.To.Add(new MailAddress(Lustik_ak@gb15.ru));
Message.To.Add(new MailAddress("Lustik_kg@gb15.ru"));</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="mail_Error" serializeAs="String">
                <value>lustik_ak@gb15.ru</value>
            </setting>
            <setting name="ProgressBar" serializeAs="String">
                <value>Continuous</value>
            </setting>
        </Report_Mail.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40" newVersion="1.3.2.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.40.55040" newVersion="3.0.40.55040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.XLS" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.12.55040" newVersion="7.4.12.55040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
