<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="temp" value="c:\\confs\temp" />
      <add key="Sel_DataTime" value="True" />
          <add key="Sel_Request_DataTime" value="SELECT CONCAT('с ', DATE_FORMAT(DATE_sub(CURDATE(), INTERVAL 18 HOUR), '%d.%m.%Y %H:%i'), ' по ', DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 6 HOUR), '%d.%m.%Y %H:%i'))"/>
      <add key="Sel_2" value="True" />
          <add key="Sel_2_request" value="CALL procStatementForPastDay"/>
          <add key="Sel_3_request"  value=""/>
          <add key="Sel_4_request"  value=""/>
          <add key="Sel_5_request"  value=""/>
      <add key="excel_export" value="True"/>
      <add key="attachments" value="1"/>      
        <add key="conf1" value="C:\confs\template_StatementForPastDay\template_StatementForPastDay.config"/>
        <add key="conf2" value=""/>
        <add key="conf3" value=""/>
        <add key="conf4" value=""/>
        <add key="attachments1" value="C:\confs\temp\StatementForPastDay.xls"/>
        <add key="attachments2" value=""/>
        <add key="attachments3" value=""/>
        <add key="attachments4" value=""/>
      <add key="mail_export" value="true"/>
        <add key="smtpClient"  value="mail.gb15.ru"/>
        <add key="smtpClient_port" value="25"/>
        <add key="from_mail" value="robot@gb15.ru"/>
        <add key="from_mail_name"  value="Robot"/>
        <add key="from_Password" value="1oc@1RoBoT"/>
        <add key="mail_to" value="
             lustik_ak@gb15.ru"/>
        <add key="mail_cc" value="
             lustik_ak@gb15.ru"/>
        <add key="subject"  value="отчет по выпискам "/>
        <!--Сообщение-->
        <add key="Body" value="
Добрый день.
									
Отчет во вложении.
									
									
           
--
С уважением,
Группа МИС
СПб ГБУЗ 'Городская больница № 15'"/>      
      
        <!--Тех. Поддержка-->
        <add key="mail_support_error" value="
             lustik_ak@gb15.ru"/>
    </appSettings>
</configuration>