<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Sel_1_on_off_DataTime" value="True" />
      <add key="Sel_Request_DataTime_xlApp.Cells[1, 2]" value="SELECT CONCAT('с ', DATE_FORMAT(DATE_sub(CURDATE(), INTERVAL 18 HOUR), '%d.%m.%Y %H:%i'), ' по ', DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 6 HOUR), '%d.%m.%Y %H:%i'))"/>
      <add key="Sel_2_on_off" value="True" />
      <add key="Sel_3_request" value="CALL procStatementForPastDay"/>
      <add key="Sel_2_request" value="SELECT * FROM application.Journal_work jw"/>
      <add key="Sel_4_request" value=""/>
      <add key="xlApp.Cells[1, 1]" value="Отчет"/>
      <add key="xlApp.Cells[1, 1].HorizontalAlignment" value="Excel.Constants.xlRight"/>      
      <add key="xlApp.Cells[2, 1]" value="Выписан из Отделения"/>
      <add key="xlApp.Cells[1, 2].HorizontalAlignment" value="Excel.Constants.xlRLeft"/>
      <add key="xlApp.Cells[2, 2]" value="Врач"/>
      <add key="xlApp.Cells[2, 3]" value="Выписано"/>
      <add key="xlApp.Cells[2, 4]" value="Без диагноза"/>
      <add key="xlWorkSheet.Cells[1, 4].EntireRow.Font.Bold = xlWorkSheet.Cells[2, 4].EntireRow.Font.Bold" value="True"/>
      <add key="int h" value="1"/>
      <add key="xlWorkBook.SaveAs" value="C:\confs\StatementForPastDay.xls"/>
      <add key="smtpClient" value="mail.gb15.ru"/>
      <add key="smtpClient_port" value="25"/>
      <add key="from_mail" value="robot@gb15.ru"/>
      <add key="from_mail_name" value="Robot"/>
      <add key="from_Password" value="1oc@1RoBoT"/>
      <add key="mail_to" value="
           lustik_ak@gb15.ru"/>
      <!--lustik_kg@gb15.ru"/>-->
      <add key="mail_cc" value="lustik_ak@gb15.ru"/>
      <!--mis@gb15.ru-->
      <add key="subject" value="отчет по выпискам "/>
      <add key="Body" value="
Добрый день.
									
Отчет во вложении.
									
									
           
--
С уважением,
Группа МИС
СПб ГБУЗ 'Городская больница № 15'"/>
      <add key="attachments" value="2"/>
      <add key="attachments1" value="C:\confs\StatementForPastDay.xls"/>
      <add key="attachments2" value="C:\confs\Person.xls"/>
      <add key="attachments3" value=""/>
      <add key="attachments4" value=""/>
      <add key="mail_support_error" value="lustik_ak@gb15.ru"/>
    </appSettings>
</configuration>