<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!--Блок выполнения DataTime[True,False]-->
      <add key="Sel_DataTime" 
           value="True" />
      
          <!--Запрос + Вывод в ячейку excel 1, 2-->
          <add key="Sel_Request_DataTime" 
               value="SELECT CONCAT('с ', DATE_FORMAT(DATE_sub(CURDATE(), INTERVAL 18 HOUR), '%d.%m.%Y %H:%i'), ' по ', DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 6 HOUR), '%d.%m.%Y %H:%i'))"/>
      
      <!--Блок выполнения процедуры(запроса) в таблицу excel-->
      <add key="Sel_2" 
           value="False" />
      
          <!--Процедура(запрос)№1-->
          <add key="Sel_2_request" 
               value="CALL procStatementForPastDay"/>
      
          <!--Процедура(запрос)№2(выполняется, если значение"attachments=>1"-->
          <add key="Sel_3_request" 
               value="SELECT * FROM application.Journal_work jw"/>
      
          <!--Процедура(запрос)№3(выполняется, если значение"attachments=>2"-->
          <add key="Sel_4_request" 
               value=""/>
      
      <!--Блок выгрузки данных в excel[True, False]-->
      <add key="excel_export" 
           value="False"/>
      
        <!--Значение ячейки 1, 1-->
        <add key="xlApp.Cells[1, 1]" 
             value="Отчет"/>
      
        <!--Выравнивание текста ячейка 1, 1 [Excel.Constants.xlLeft, Excel.Constants.xlCenter, Excel.Constants.xlRight]-->
        <add key="xlApp.Cells[1, 1].HorizontalAlignment" 
             value="Excel.Constants.xlRight"/>
      
        <!--Значение ячейки 2, 1-->
        <add key="xlApp.Cells[2, 1]" 
             value="Выписан из Отделения"/>
      
        <!--Выравнивание текста ячейка 1, 2 [Excel.Constants.xlLeft, Excel.Constants.xlCenter, Excel.Constants.xlRight]-->
        <add key="xlApp.Cells[1, 2].HorizontalAlignment" 
             value="Excel.Constants.xlRLeft"/>
      
        <!--Значение ячейки 2, 2-->
        <add key="xlApp.Cells[2, 2]" 
             value="Врач"/>
      
        <!--Значение ячейки 2, 3-->
        <add key="xlApp.Cells[2, 3]" 
             value="Выписано"/>
      
        <!--Значение ячейки 2, 4-->
        <add key="xlApp.Cells[2, 4]" 
             value="Без диагноза"/>
        
        <!--Ширный шрифт в данных ячейках [True, False]-->
        <add key="xlApp_Cells_1_4_2_4_Font" 
             value="True"/>
      
        <!--Начало строки для выгрузки(excel, если 0 то с 1 строки) [0, 1, 2, 3...]-->
        <add key="int h" 
             value="1"/>
        <!--Путь к файлу excel-->
        <add key="xlWorkBook.SaveAs" 
             value="C:\confs\procEmploymentBeds.xlsx"/>
      
        <!--Вложение, колличество файлов [1, 2, 3, 4]-->
        <add key="attachments" 
             value="2"/>
      
        <!--Если вложений больше 1, то "attachments1 = xlWorkBook.SaveAs"!!!-->
        <add key="attachments1" 
             value="C:\confs\procEmploymentBeds.xlsx"/>

        <!--Путь к файлу excel №2-->
        <add key="attachments2" 
             value="C:\confs\procWhoIsLyingPaidBed.xlsx"/>

        <!--Путь к файлу excel №3-->
        <add key="attachments3" 
             value=""/>

        <!--Путь к файлу excel №4-->
        <add key="attachments4" 
             value=""/>

      <!--Блок SMTP[True, False]-->
      <add key="mail_export" 
           value="True"/>
      
        <!--Сервер почты-->
        <add key="smtpClient" 
             value="mail.gb15.ru"/>
      
        <!--Порт-->
        <add key="smtpClient_port" 
             value="25"/>
      
        <!--Почтовый адрес исходящей почты-->
        <add key="from_mail" 
             value="robot@gb15.ru"/>
      
        <!--Имя исходящей почты-->
        <add key="from_mail_name" 
             value="Robot"/>
      
        <!--Пароль исходящей почты-->
        <add key="from_Password" 
             value="1oc@1RoBoT"/>
      
        <!--Получатели(Разделитель [,])-->
        <add key="mail_to" value="
           lustik_ak@gb15.ru"/>
      
        <!--Получатели в копии(Разделитель[,])-->
        <add key="mail_cc" 
             value="lustik_ak@gb15.ru"/>
      
        <!--Тема письма-->
        <add key="subject" 
             value="отчет по выпискам "/>
      
        <!--Сообщение-->
        <add key="Body" value="
Добрый день.
									
Отчет во вложении.
									
									
           
--
С уважением,
Группа МИС
СПб ГБУЗ 'Городская больница № 15'"/>      
      
        <!--Тех. Поддержка-->
        <add key="mail_support_error" value="
             lustik_ak@gb15.ru"/>
    </appSettings>
</configuration>