<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!--Блок выполнения DataTime[True,False]-->
      <add key="Sel_1_on_off_DataTime" 
           value="False" />
      
        
    </appSettings>
</configuration>