<configuration>
  <appSettings>
    <add key="row_1" value="Отчет"/>
    <add key="row_2" value="№ ИБ,Тип Финансирования,ФИО,Пол,Дата поступления в отделение,Код палаты,Палата,Профиль,Лечащий врач "/>
    <add key="h" value="2"/>
    <add key="Cells_xlRight_1" value="1"/>
    <add key="Cells_xlCenter_1" value=""/>
    <add key="Cells_xlLeft_1" value=""/>
    <add key="Cells_xlRight_2" value=""/>
    <add key="Cells_xlCenter_2" value=""/>
    <add key="Cells_xlLeft_2" value=""/>
    <add key="color" value=""/>
    <add key="data_1" value="1"/>
    <add key="data_2" value="2"/>
  </appSettings>
</configuration>